

.imagen-juego{
	width: 50%;
	height: 50%;
	margin-top:5%;
	border-radius:70%;
	border: solid 5px;
	border-color:#412754; 
}


.thumbnail{
	width: 80%;
	height: 60%;
	margin: 10%;
	/*border: solid 2px;
	border-color:#68DA23; */
	
}
.thumbnail,h3{
	text-align: center;
	color:#68DA23;
}

.col-center{
	float: none;
	margin:0 auto;
}
.thumbnail .btn{
	text-align: center;
	color:#412754;
	
}