body{
  background-color: #050306;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.fteVerdeFos{
  color: #68DA23;
}

.cursor{
  cursor: default;
}

.mt-10{
  margin-top: 10%;
}

.center{
  text-align: center;
}
