*{
    margin:0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
}

#intro{
    background-color: #050306;
    height: 100%;
    width: 100%;
}

#intro img{
    height: 500px;
}

#intro img:hover{
    height: 520px;
}

#intro >div{
     cursor:default;
}

#algo {
    position: relative;
    -webkit-animation: mymove 2s; /* Safari 4.0 - 8.0 */
    animation: mymove 2s ;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

ul{
    list-style: none
}
li{
    margin-bottom: 10%;
}

{
    colores: #050306 negro

[12:50] 
#0D0700 

[12:51] 
#412754 

[12:51] 
#4CC35B 

[12:51] 
#68DA23 

[12:52] 
#120A3D 
}

.fondoAside{
  background-color: #120A3D   
}
.verde{
    color: #4CC35B ;
    font-weight: bolder;
}